.visually-hidden {
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    white-space:nowrap;
    border:0;
    clip:rect(0 0 0 0);
    -webkit-clip-path:inset(100%)
    ;clip-path:inset(100%)
}

.flex {
    display: flex !important;
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 30px 200px;
    background-color: #000000;
}

.nav-btn {
    padding: 6px 15px;
    border: 2px solid #E06C20;
    border-radius: 10px;
    margin-right: 30px;
    background-color: transparent;
    color: #fff;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.nav-btn:last-child {
    margin: 0;
}

.nav-link {
    text-decoration: none;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin: 0;
    margin-right: 30px;
}
.nav-link:last-child {
    margin-right: 0;
}

.hero {
    padding: 50px 200px;
    background-color: #202F39;
    justify-content: center;
}

.hero-h1 {
    color: #E06C20;
    margin: 0;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
}
.hero-h2 {
    color: #fff;
    margin: 0;

    font-family: 'Alumni Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
}
.hero-p {
    color: #fff;
    margin: 0;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.hero-btns {
    align-items: center;
}

.hero-btn {
    color: #fff;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;

    height: 80px;
    padding: 10px 40px;
    background-color: #E06C20;
    border-radius: 20px;
    border: none;
    margin-right: 30px;
}

.qr-btn {
    height: 80px;
    width: 80px;
    padding: 5px;
    background-color: #E06C20;
    border-radius: 20px;
    border: none;
}

.hero-img {
    position: absolute;
    top: 0px;
    border-radius: 40px;
    z-index: 0;
}

.hero-text-block {
    margin-bottom: 85px;
}

.hero-wrapper {
    width: 1475px;
    height: 649px;
    padding: 40px;
    background-color: #20282E;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 40px;

    position: relative;
    background: url('../../../public/img/heroBgImg.png') repeat;
    background-size: contain;
    background-position: 110%;
}

.hero-block {
    flex-direction: column;
    justify-content: space-between;
    height: 649px;
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 40px;
    background-color: #20282E;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 40px;
}

.target {
    padding: 100px 200px;
    background-color: #202F39;

    background-image: url('../../../public/img/bg-target.png');
    background-size: 100%;
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

.h2-wrapper {
    position: absolute;
    background-color: #E06C20;
    border-radius: 20px;
}
.h2-wrapper-r {
    right: 0px;
    padding: 20px 200px 20px 60px;
    border-radius: 20px 0px 0px 20px;
}
.h2-wrapper-l {
    left: -20px;
    padding: 20px 60px 20px 200px;
}
.h2-wrapper-sub {
    left: -20px;
    top: 18px;
    padding: 15px 50px 15px 200px;
}

.h2-title {
    color: #fff;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    margin: 0;
}

.target-text {
    padding-top: 150px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.target-p {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;

    color: #fff;
    margin: 0;
    max-width: 652px;
}

.achivments {
    background-color: #202F39;
    padding: 50px 200px 200px 200px;

    background-image: url('../../../public/img/bg-achivments.png');
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.achivments-wrapper {
    padding-top: 150px;

    flex-wrap: wrap;
    justify-content: center;

}

.achivment-block {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: #E06C20;
    background-image: url('../../../public/img/achivments-1.png');

    margin-right: 30px;
    margin-bottom: 30px;
}

.achivments-text-wrapper {
    position: absolute;
    bottom: 0;
    background-color: #E06C20;
    border-radius: 0 0 20px 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 57px;
}
.achivments-text {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    color: #fff;
    margin: 0;
}

.paralax {
    padding: 50px;
    background: url('../../../public/img/heroBgImg.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.paralax-inner {
    height: 400px;
}

.equipment {
    background-color: #202F39;
    padding: 150px 200px 150px 200px;
}

.equipment-img-wrapper {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 10px;

    margin-right: 10px;
}

.equipment-block {
    position: relative;
    background-color: #E06C20;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    width: 100%;
    padding-top: 10px;
    justify-content: center;
}
.equipment-text {
    position: absolute;
    background-color: #20282E;
    width: 100%;
    height: 91%;
    bottom: 0;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equipment-item {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #fff;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

.trainer {
    background-color: #202F39;
    padding: 50px 200px;
}
.trainer-padding {
    padding-top: 150px;
}
.trainer-wrapper {
    position: relative;
    background-color: #20282E;
    border-radius: 40px;
    height: 436px;
    background: url('../../../public/img/trainer-bg-img.png') no-repeat;
    background-size: 110%;
    background-position: 50% 50%;
}
.trainer-block {
    position: absolute;
    background-color: #20282E;
    border-radius: 40px;
    padding: 40px;
    height: 82%;
    flex-direction: column;
    justify-content: space-between;
}
.trainer-text {
    max-width: 600px;
}

.trainer-bg-png {
    position: absolute;
    bottom: -30px;
    left: 800px;
}

.video {
    background-color: #202F39;
    padding: 50px 200px;
}




/* Sign In */
.signin-wrapper {
    background-color: #202F39;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.formSignIn {
    padding: 20px 60px;
    margin-bottom: 30px;
    background-color: #20282E;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.form-logo {
    width: 212px;
    margin-bottom: 30px;
}

.form-input {
    width: 484px;
    border: 5px solid #E06C20;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px 30px;
    margin-bottom: 7px;
}

input {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: #fff;
}

input::placeholder {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: #fff;
}

.password-block {
    flex-direction: column;
    align-items: end;
    margin-bottom: 50px;
}

.form-btn {
    margin-bottom: 7px;
    width: 100%;
    background-color: #E06C20;
    color: #fff;
    padding: 16px;
    border-radius: 20px;
    border: none;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

button {
    cursor: pointer;
}

.form-btn-text {
    background-color: transparent;
    font-family: 'Alumni Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;

    color: #fff;
    border: none;
    margin: 0;
}

.form-left {
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
}

.form-p {
    margin-bottom: 7px;
}




/* footer */
.footer {
    background-color: #000000;
    padding: 50px 200px;
    flex-direction: column;
    align-items: center;
}
.footer-wrapper {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.footer-title {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #fff;

    margin: 0;
    margin-bottom: 10px;
}

.footer-contacts {
    flex-direction: column;
}
.footer-text {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #fff;

    text-decoration: none;
}

.footer-p {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
}


.review {
    background-color: #202F39;
    padding: 100px 0px;
}

.slide-item {
    width: 538px;
    background-color: #20282E;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}
.score-block {
    width: 380px;
}

.slider-logo {
    height: 80px;
}
.slide-title-wrapper {
    align-items: center;
    justify-content:  space-between;
    margin-bottom: 10px;
}

.slide-text {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #fff;

    margin: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.review-wrapper {
    padding: 0px 200px;
}

.slider-score-img {
    height: 50px;
}

.slide-score-text {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #fff;

    margin: 0;
}

.finish {
    background-color: #202F39;
}

.finish-text {
    font-family: 'Alumni Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    color: #E06C20;
    margin: 0;
}

.start {
    padding: 50px 0px;
    background-color: #202F39;
}
.start-wrapper {
    padding: 50px 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.h2-wrapper-start {
    background-color: #E06C20;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.start-block {
    position: relative;
    background-color: #20282E;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 20px;
    max-width: 584px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.start-number {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid #E06C20;
    border-radius: 20px;
    height: 64px;
    width: 64px;
    align-items: center;
    justify-content: center;
}
.start-number-text {
    color: #fff;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    margin: 0;
}

.mr-20 {
    margin-right: 20px;
}


.sub {
    position: relative;
    background-image: url('../../../public/img/bg-sub.png');
    background-size: auto;
    height: 862px;
    width: 100%;

    background-color: #202F39;
}
.sub-block-l {
    position: absolute;
    left: 283px;
    top: 109px;
    width: 623px;
    height: 623px;
    background-color: #20282E;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;

    background-image: url('../../../public/img/sub-bg-lines.png');
    background-repeat: no-repeat;
    background-position: 10% 30%;

    flex-direction: column;
    justify-content: center;
}
.sub-block-r {
    position: absolute;
    left: 1010px;
    top: 109px;
    width: 623px;
    height: 623px;
    background-color: #E06C20;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;

    background-image: url('../../../public/img/sub-bg-man.png');
    background-repeat: no-repeat;

    flex-direction: column;
    justify-content: space-between;
}

.sub-text {
    color: #fff;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin: 0;

    padding: 10px 0px 10px 30px;
}

.sub-btn {
    background-color: #20282E;
    color: #fff;
    border: none;
    border-radius: 20px;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;

    margin: 30px;
    padding: 20px;
}

.sub-title-r {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #fff;

    margin: 0;
    padding-left: 30px;
    padding-top: 30px;
}


.player-wrapper {
    position: relative;
    padding-top: 56.25%; 
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 20px;
}

.nav {
    display: flex;
}
.burger {
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #fff;
}
.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.burger.active span {
    transform: scale(0);
}
.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.card-fitnessbox {
    justify-content: space-between;
    position: relative;
    background-color: #CC6F32;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    height: 126px;
    width: 465px;
}

.card-fitnessbox-img {
    position: absolute;
    border-radius: 20px;
    height: 100%;
}

.card-fitnessbox-text {
    padding: 10px;
    padding-left: 180px;
    flex-direction: column;
    justify-content: space-between;
}
.card-fitnessbox-btns {
    padding: 10px;
    padding-right: 25px;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.card-fitnessbox-title {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin: 0;
}
.card-fitnessbox-p {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.catalog {
    background-color: #202F39;
    padding: 50px 200px;
}
.catalog-wrapper {
    height: 700px;
}

.catalog-block {
    gap: 30px;
}

.catalog-map {
    width: 100%;
}

.qr-header {
    height: 46px;
}
.header-btn {
    background-color: transparent;
    border: none;
}

.header-user-text {
    text-decoration: none;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #E06C20;
    margin: 0;
}

.trainers {
    background-color: #202F39;
    padding: 50px 200px;
}

.trainers-cards {
    display: grid;
    grid-template-columns: 725px 725px;
    gap: 30px;
}
.trainers-card {
    height: 480px;
    position: relative;
    background-color: #20282E;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}
.trainers-img-wrapper {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
}
.trainers-img {
    position: relative;
    height: 100%;
    border-radius: 20px;
}
.trainers-name {
    position: absolute;
    bottom: 20px;
    left: 45px;
    margin: 0;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.trainers-text-wrapper {
    padding-left: 400px;
    padding-right: 30px;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.trainers-title {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #fff;

    margin: 0;
    margin-top: 20px;
}
.trainers-item {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}
.trainres-btn {
    border-radius: 20px;
    background-color: #E06C20;
    color: #fff;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #fff;

    border: none;
    padding: 10px;

    margin-bottom: 20px;
}

.trainer-card {
    min-height: 610px;
    min-width: 1040px;
    background-color: #20282E;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}
.trainer-card-left {
    position: relative;
}
.trainer-image-wrapper {
    position: absolute;
    top: 0; left: 0;
    height: 515px;
}
.trainer-img {
    height: 100%;
    border-radius: 20px;
}
.trainer-name {
    position: absolute;
    bottom: 20px;
    left: 45px;

    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;

}
.trainer-contact {
    padding-top: 530px;
    padding-left: 30px;
    padding-bottom: 30px;
    flex-direction: column;
}

.trainer-card-right {
    padding-left: 250px;
    padding-right: 30px;
}

.contact-link {
    margin-right: 10px;
}

.trainer-payment {
    width: 100%;
    min-height: 610px;
    background-color: #20282E;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;

    padding: 20px;

    flex-direction: column;
    justify-content: space-between;
}
.trainer-payment-btn {
    background-color: #E06C20;
    border-radius: 20px;
    border: none;

    height: 110px;
    width: 100%;
    padding: 10px;

    justify-content: space-between;

    margin-bottom: 10px;
}

.trainer-block-top {
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
}

.trainer-payment-text {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin: 0;
}

.trainer-payment-price-wrapper {
    height: 100%;
    justify-content: end;
    align-items: end;
}
.trainer-payment-price {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin: 0;
}

.payment-btn {
    background-color: #E06C20;
    color: #fff;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.trainer-block-bottom {
    gap: 30px;
}

.trainer-work-time {
    height: 126px;
    width: 465px;
    background-color: #20282E;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;

    flex-direction: column;
    justify-content: center;
}

.cards-fitnessbox {
    flex-direction: column;
    gap: 10px;
}

.trainer-date {
    margin: 0;
    margin-left: 20px;
}



.subscribe {
    padding: 50px 200px;
    background-color: #202F39;
}

.subscribe-block {
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background-color: #20282E;

    justify-content: space-between;
}

.subscribe-btn {
    width: 100%;
}

.subscribe-left {
    width: 100%;
    margin-right: 20px;
    background-color: #E06C20;
    border-radius: 20px;
    background-image: url('../../../public/img/sub-bg-man.png');
    background-position: 100% 10%;
    background-repeat: no-repeat;
}
.subscribe-payment {
    min-width: 380px;
    flex-direction: column;
    justify-content: space-between;
}
.sub-list {
    margin-bottom: 50px;
}

.subscribe-info {
    flex-direction: column;
    background-color: #E06C20;
    border-radius: 20px;
    padding: 20px;
}

.subcribe-days {
    justify-content: center;
}

.booked {
    padding: 0px 200px;
    padding-bottom: 50px;
    background-color: #202F39;
}

.booked-date {
    width: 100%;
    overflow-x: scroll;
}

.booked-date-wrapper {
    width: 120%;
}

.booked-time {
    background-color: #20282E;
    padding: 20px;
    display: grid;
    grid-template-columns: 156px 156px 156px 156px 156px 156px;
    row-gap: 5px;
    column-gap: 30px;
}

.booked-btn {
    height: 100px;
    width: 156px;
    padding: 10px;
    background-color: #A5A5A5;
    border: none;
    border-radius: 10px;
    justify-content: space-between;
}

.booked-time-info-wrapper {
    height: 100%;
    align-items: end;
}

.booked-time-info {
    margin: 0;

    color: #fff;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.booked-images {
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 30px;
}

.booked-image {
    width: 500px;
    border-radius: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.booked-btn--noactive {
    background-color: #494949;
}

.booked-date-btn {
    background-color: transparent;
    border: none;

    color: #fff;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    width: 100px;
}
